header {
    display: flex;
    background-color: blue;
    background-image: linear-gradient(to right, blue, purple);
    justify-content: center;
}

.title {
    color: white;
    padding: 15px;
}

.current {
    padding: 5px;
}

span {
    padding: 5px;
    border-radius: 5px;
}

.forcast-card {
    color: white;
}

.forecast-image {
    max-height: 50px;
    max-width: 50px;
} 